body {
  font-family: sans-serif;
  background-color: #000;
  color: #eaf6fa;
}

a:hover {
  opacity: 0.8;
}

button {
  background: linear-gradient(to right, #2395ad, #0a5d6f);
  border-radius: 25px;
  padding: 8px 12px;
  border: solid 2px #ddd;
  font-size: 1.2rem;
  font-weight: bold;
}

button:hover {
  background: linear-gradient(to right, #83558d, #6a1d4f);
  cursor: pointer;
  border-color: #999;
}

.hiddable {
  transition: all 0.5s ease-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
}

nav button {
  width: 200px;
  margin: 1rem;
}

.dialog {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: #0008;
}

.dialog-content {
  padding: 1rem;
  border-radius: 25px;
  border: solid 2px #ddd;
  background-color: #000;
}

.circle-btn {
  width: 25px;
  height: 25px;
  padding: 0.2rem;
  border-radius: 50%;
  border: solid 2px #ddd;
  background-color: #000;
  cursor: pointer;
}

.circle-btn line,
.circle-btn path {
  stroke: #ddd;
}

.circle-btn:hover {
  border-color: #83558d;
}
.circle-btn:hover line,
.circle-btn:hover path {
  stroke: #83558d;
}

.circle-btn line {
  stroke-width: 3;
  stroke-linecap: round;
}
.circle-btn path {
  stroke-width: 4;
}

.actions-container {
  position: fixed;
  display: flex;
  margin: 0.5rem;
  gap: 0.5rem;
}

footer {
  font-style: italic;
}

#one-sc-position {
  position: fixed;
  bottom: 0px;
  left: 50%;
  margin-left: -35px;
  margin-bottom: 50px;
}

#toggle-sound-btn line {
  stroke-width: 5;
}

#toggle-sound-btn.unmuted line {
  display: none;
}
